@font-face {
    font-family: "LINESeedSans";
    src: url(./Resource/LINESeedSans_Rg.ttf);
}

*{
    box-sizing: border-box;
    font-family: LINESeedSans, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
}

.header {
    width: 100%;
    height: 90vh;
    background: #252d20;
    display: flex;
    flex-direction: column;
    
}

.logo {
    width: 30px;
    height: auto;
    transform: scaleX(-1);
}

button {
    cursor: pointer;
    border: none;
    background-color: inherit;
    color: #b88a44;
}

.nav-button {
    font-size: 25px;
}

.left-list,
.right-list {
    list-style: none;
    display: flex;
    gap: 35px;
}

.right-list {
    font-size: 30px;
    color: #b88a44;
    gap: 5px;
    font-weight: 400;
    gap: 0px;
}

nav {
    height: 8.5%;
    background: rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    margin: 0;
}

#content-image {
    width: 100%;
    height: auto;
    border: 1px solid #b88a44;
}

.header-content {
    height: 100%;
    padding: 0 7%;
    gap: 5%;
    text-align: left;
    color: #b88a44;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content div {
    height: 85%;
    width: 55%;
    display: flex;
    align-items: center;
}

.header-content h1{
    margin-bottom: -7px;
}

.text{
    text-align: center;
    flex-basis: 400px;
    flex-direction: column;
    justify-content: center;
}

#learn-more {
    background-color: #b88a44;
    color: black;
    font-weight: 400px;
    padding: 7px;
    border-radius: 15px;
    width: 100px;
}

.main-content {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img,
.information {
    display: flex;
    gap: 2.5%;
    padding: 0 5%;
}

.img {
    height: 65%;
}

.img img {
    width: 100%;
    height: auto;
    border: 4px solid #374430;
    border-radius: 15px;
}

.information {
    height: 40%;
}

.information div {
    width: 100%;
    height: auto;
    text-align: center;
}

.quote {
    display: flex;
    background-color: #374430;
    width: 100%;
    height: 50vh;
    flex-direction: column;
    color: #b88a44;
    justify-content: center;
    align-items: center;
}

.message {
    height: 75%;
    width: 85%;
    font-size: 300%;
    margin-bottom: -10%;
}

.author {
    width: 85%;
    display: flex;
    font-weight: 700;
    font-size: 170%;
    justify-content: end;
    padding-right: 10%;
}

.footer {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-block {
    background-color: #485d45;
    width: 65%;
    height: 50%;
    display: flex;
    color: #fae39b;
}

#CTA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 70%;
    height: 100%;
    padding: 0 0 0 10%;
}

#CTA h2 {
    font-size: 40px;
    margin-bottom: 0;
}

#CTA p {
    font-size: 25px;
    margin-top: 0;
}

#sign-up {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 30%;
    height: 100%;
}

#sign-up button{
    font-size: 150%;
    border: 2px solid #fae39b;
    color: #fae39b;
    width: 50%;
    height: 50%;
    border-radius: 20px;
}